<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <div class="wrap">
            <h1>{{ title }} Mailbox ({{ address }})</h1>
            <p>Content</p>

            <table class="wp-list-table widefat fixed striped pages">
                <thead>
                    <tr>
                        <td class="check-column"><input type="checkbox"></td>
                        <td>Sender</td>
                        <td>Subject</td>
                        <td>Received Date</td>
                    </tr>
                </thead>
                <tbody>
                    {% for mailitem in collection %}
                        <tr>
                            <td><input type="checkbox" id="item-{{ mailitem.num }}"></td>
                            <td>{{ mailitem.from }}</td>
                            <td>{{ mailitem.title }}</td>
                            <td>{{ mailitem.date }}</td>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        <div>
    </body>
</html>